[![Open in Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/justmarkham/scikit-learn-tips/master?filepath=notebooks%2F39_toy_dataset.ipynb)

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/justmarkham/scikit-learn-tips/blob/master/notebooks/39_toy_dataset.ipynb)

# ðŸ¤–âš¡ scikit-learn tip #39 ([video](https://www.youtube.com/watch?v=aMLLY9T3HPQ&list=PL5-da3qGB5ID7YYAqireYEew2mWVvgmj6&index=39))

New in version 0.23: Need to load a toy dataset into a DataFrame, including column names? Set as_frame=True.

Want features and target as separate objects? Also set return_X_y=True.

See examples ðŸ‘‡

In [1]:
from sklearn.datasets import load_iris

In [2]:
# return DataFrame with features and target
df = load_iris(as_frame=True)['frame']

In [3]:
df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [4]:
# return DataFrame with features and Series with target
X, y = load_iris(as_frame=True, return_X_y=True)

In [5]:
X.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [6]:
y.head(3)

0    0
1    0
2    0
Name: target, dtype: int64

### Want more tips? [View all tips on GitHub](https://github.com/justmarkham/scikit-learn-tips) or [Sign up to receive 2 tips by email every week](https://scikit-learn.tips) ðŸ’Œ

Â© 2020 [Data School](https://www.dataschool.io). All rights reserved.